body {
    color: #a7acab;
    background-color: #2a623d;
    font-family: sans-serif;
}
h1, h2{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}