body {
    color: #ffffff;
    background-color: #2a623d;
    font-family: sans-serif;
}
h1, h2, p, ul{
    text-align: center;
    color: #ffffff;
}

header {
    background-color: #1a472a;
    padding: 10px;
    text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color:aliceblue;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

nav a:hover {
  color:aquamarine;
}

.footerLinks{
  margin: 0 15px;
  text-decoration: none;
  color:aliceblue;
  font-weight: bold;
  cursor: pointer;
}

.footerLinks:hover {
  color:aquamarine;
}
/*.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
  }

.box {
    width: 80%;            
    margin-left: auto;
    margin-right: auto;          
    background-color: #1a472a;  
    display: flex;
    justify-content: center; 
    align-items: center;     
  }

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #2a623d; 
    padding: 10px;
  }
 
  .footer a {
    text-decoration: none;
    margin: 0 10px; 
    color:  #b3cde0;
  }
  .footer a:visited {
    color: #b3cde0;
  }
  .footer a:hover {
    color: #fdb00b; 
  }
  .footer a:active {
    color: #ff6f69;
  }

  .separator {
    margin: 0 10px;
    font-weight: bold;
  }*/