body {
    color: #ffffff;
    background-color: #2a623d;
    font-family: sans-serif;
}
h1, h2, p{
    text-align: center;
    color: #ffffff;
}

ul {
    color: #ffffff;
}

header {
    background-color: #1a472a;
    padding: 10px;
    text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color:aliceblue;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.hover {
  color:aquamarine;
}

.footer{
  margin: 0 15px;
  text-decoration: none;
  color:aliceblue;
  font-weight: bold;
  cursor: pointer;
}

section {
  display: none;
  padding: 20px;
}

.hidden {
  display: none;
}