<div class="container">
    <div class="box">
        <div>
            <nav>
                <a href="https://github.com/AntonioX-XVelazquez">Github</a>||
                <a href="https://github.com/AntonioX-XVelazquez/AntonioX-XVelazquez.github.io">Github.io</a>||
                <a href="https://www.linkedin.com/feed/">Linkedin</a>
            </nav> 
        </div>
        <div>
            <nav>
                Designed by Antonio Velazquez, <a href="https://www.freecodecamp.org/certification/AntonioVelazquez/responsive-web-design"><i>Certified in Responsive Web Design</i></a>
            </nav> 
        </div>
    </div>
    </div>