    <div class="box">
        <div class="box-trim">
            <div class="box-center">
            <nav>
                <a href="https://github.com/AntonioX-XVelazquez">Github</a>||
                <a href="https://github.com/AntonioX-XVelazquez/AntonioX-XVelazquez.github.io">Github.io</a>||
                <a href="https://www.linkedin.com/feed/">Linkedin</a>||
                <a href="https://antoniox-xvelazquez.github.io">UNCC</a>||
                <a href="https://www.freecodecamp.org/certification/AntonioVelazquez/responsive-web-design"><i>Web-Design Certification</i></a>
                <p></p>
            </nav> 
            <div>
                <nav>
                    Designed by <a href="AgileViperINC/index.html">AgileViperINC</a>
            
                    <p></pp>
                </nav> 
                <nav>
                    Brought to you by<a href="ViperViolins//index.html">Whimsical Company</a>
                </nav> 
            </div>
        </div>
        </div>
    </div>
    
    
