<div class="header-box">  
    <div class="header-box-trim">
        <div class="header-box-center">
   <h1>Antonio Velazquez's Agile Viper || ITIS 3135</h1>
    <div>
        <nav>
            <a href="../itis3135/contract.html">Contract</a>||
            <a href="../itis3135/tables.html">Tables</a>||
            <a href="../itis3135/ViperViolins/about.html">Whimsical Company </a>||
            <a href="../itis3135/Compair/index.html">CRAP Evaluation</a>||
            <a href="../itis3135/drawing.html">JS Drawing</a>||
            <a href="../itis3135/BYO/index.html">BYO Website</a>||
            <a href="../itis3135/slideshow/index.html">Slideshow</a>||
            <a href="../itis3135/stuff/HT&ml.htm">CRAPPY Page</a>||
            <a href="../hobby\index.html">Hobby Page</a>||
            <a href="../itis3135/ProjectOverview.html">Project Overview</a>||
            <a href="../itis3135/RoyalRecruit.html">Client Project</a>
        </nav> 
    </div>
</div>
</div>
</div>

