<div class="header-box">  
    <div class="header-box-trim">
        <div class="header-box-center">
   <h1>Antonio Velazquez's Agile Viper || ITIS 3135</h1>
    <div>
        <nav>
            <a href="../AgileViperINC/index.html">Contract</a>||
            <a href="../tables/index.html">Tables</a>||
            <a href="../ViperViolins/index.html">Whimsical Company </a>||
            <a href="../Compair/index.html">CRAP Evaluation</a>||
            <a href="../intro/index.html">Introduction</a>||
            <a href="../BYO/index.html">BYO Website</a>||
            <a href="../slideshow/index.html">Slideshow</a>||
            <a href="../drawing.html">Drawing</a>||
            <a href="../stuff/HT&ml.htm">CRAPPY Page</a>||
            <a href="../hobby\index.html">Hobby Page</a>||
            <a href="../itis3135/Client/index.html">Client Page</a>
        </nav> 
    </div>
</div>
</div>
</div>

